.slide-in-left {
    font-size: 60px;
    color: navy;
}

.slide-in-left {
	-webkit-animation: slide-in-left 10s linear infinite forwards;
	        animation: slide-in-left 10s linear infinite forwards;
}

 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      opacity: 1.5;
    }
  }

  .rolo {
	-webkit-animation: slide-in-left 14s linear infinite forwards;
	        animation: slide-in-left 14s linear infinite forwards;
            font-size: 60px;
            color: navy;
}

  @-webkit-keyframes rolo {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      opacity: 1.5;
    }
  }


  /* @keyframes slide-in-left {


    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      opacity: 1.5;
    }
  }
   */

   .weezee {
	-webkit-animation: slide-in-left 10s ease-in-out infinite forwards;
	        animation: slide-in-left 10s ease-in-out infinite forwards;
            font-size: 60px;
            color: navy;
            display: flex;
            justify-content: space-between;
}

 @-webkit-keyframes weezee {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      opacity: 1;
    }
  }

  .two-txt {
    color:rgb(148, 5, 33);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 89px;
  }

  
  .txt1 {
    -webkit-animation: txt1 4s linear infinite forwards;
    animation: txt1 4s linear infinite forwards;
       
  }
  
    @-webkit-keyframes txt1 {
      0% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
      }
      100% {
        -webkit-transform: translateX(80%);
                transform: translateX(80%);
        opacity: 1.5;
      }
    }

    .txt2 {
      -webkit-animation: txt2 3s linear infinite forwards;
      animation: txt2 3s linear infinite forwards;
      margin-top: -60px;
         
    }
    
      @-webkit-keyframes txt2 {
        10% {
          -webkit-transform: translateX(10%);
                  transform: translateX(10%);
          opacity: 1;
        }
        60% {
          -webkit-transform: translateX(60%);
                  transform: translateX(60%);
          opacity: 1.5;
        }
      } 

      .banner {
        width: 1000px;
        height: 1000px;
        background-color: cadetblue;
        border: 5px solid brown;
        overflow: hidden;
        margin: 0 auto;
      }