* {
    margin: 0;
    padding: 0;
}

#scroll-container {
  border: 3px solid rgb(255, 248, 248);
  font-size: 40px;
  border-radius: 5px;
  overflow: hidden;
}


#scroll-text {
  text-align: right;
  color: white;

  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.banner {
    width: 100%;
    height: 100vh;
    background-color: rgb(24, 24, 61);
}

.youtoo {
    transform: translateX(-100%);
    animation: my-animation 15s linear infinite;
}

.slide-in-left {

	        animation: slide-in-left  155s ease-in-out;
}

 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }


  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }