.slide-in-left {
    font-size: 60px;
    color: navy
}

.slide-in-left {
	-webkit-animation: slide-in-left 10s linear infinite forwards;
	        animation: slide-in-left 10s linear infinite forwards;
}

 @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      opacity: 1.5;
    }
  }

  .rolo {
	-webkit-animation: slide-in-left 14s linear infinite forwards;
	        animation: slide-in-left 14s linear infinite forwards;
            font-size: 60px;
            color: navy
}

  @-webkit-keyframes rolo {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      opacity: 1.5;
    }
  }


  /* @keyframes slide-in-left {


    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: translateX(100%);
              transform: translateX(100%);
      opacity: 1.5;
    }
  }
   */